@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat&family=Quicksand:wght@500;600&family=Raleway:wght@300&family=Tiro+Bangla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
body {
  background: var(--primary-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*style for textbox in the heading*/

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.textBox{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.text-area {
  position:relative;
  margin-bottom: 40px;
  background-color: var(--tertiary-color);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
  width : 70%;
  border-radius: 0px 10px 10px 10px;
}

.submit {
  display: inline-block;
  position: relative;
  align-items:center;
  width: 30%;
  height: 30px;
  max-width:100px;
  background-color: var(--quaternary-color);
  color: black;
  font-size: 17px;
  border-radius: 5px;
}

::placeholder {
   text-align: center; 
}

/* or, for legacy browsers */

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

/*secondary button styles*/


.show {
  background-color: var(--quaternary-color);
  color: black;
  font-size: 17px;
  border-radius: 5px;

}

.dropdown {
  background-color: var(--tertiary-color);
}

.clip {
  border-style: hidden;
  border-radius: 10px;
  border-width: 2px;
  background-color: var(--tertiary-color);
  min-height: 5ch;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #1a88d1;
    bottom: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 55px;
    font-size: 40;

}

/*text related styles*/
#mainHeading{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
}

h1 {
  font-family: "Cinzel", serif;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: larger;
}

label {
  font-family: "Montserrat", sans-serif;
}

p {
  position: relative;
  left: 8px;
  width: 97%;
  word-wrap: break-word;
  white-space: pre;
}




/*  All theme switching related style below */

.theme-switches {
  display: flex;
  justify-content: center;
}

.switch {
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.switch:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

#switch-1 {
   background: linear-gradient(
    to right,
    #f3a6af 0%,
    #959bf6 100%
  );
}

#switch-2 {
   background: linear-gradient(
    to right,
    #14172c 0%,
    #c08058 100%
  );
}

