@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat&family=Quicksand:wght@500;600&family=Raleway:wght@300&family=Tiro+Bangla&display=swap");
/* add a theme changer on click of a button*/
:root{
  --primary-color: #ffdde1;
  --secondary-color: #ee9ca7;
  --tertiary-color: aquamarine;
  --quaternary-color:  rgb(100, 199, 166);

}
body {
  background: var(--primary-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-area {
  margin-bottom: 60px;
  background-color: var(--tertiary-color);
}

.submit {
  position: absolute;
  top: 300px;
  left: 35%;
  width: 30%;
  height: 30px;
  background-color: var(--quaternary-color);
  color: black;
  font-size: 17px;
  border-radius: 5px;
}

.show {
  background-color: var(--quaternary-color);
  color: black;
  font-size: 17px;
  border-radius: 5px;

}

.dropdown {
  background-color: var(--tertiary-color);
}

.clip {
  border-style: hidden;
  border-radius: 10px;
  border-width: 2px;
  background-color: var(--tertiary-color);
  min-height: 5ch;
}

h1 {
  font-family: "Cinzel", serif;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: larger;
  font-style: italic;
}

label {
  font-family: "Montserrat", sans-serif;
}

p {
  position: relative;
  left: 8px;
  width: 97%;
  word-wrap: break-word;
  white-space: pre;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
