@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat&family=Quicksand:wght@500;600&family=Raleway:wght@300&family=Tiro+Bangla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
body {
  background: var(--primary-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*style for textbox in the heading*/

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form.textBox{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.text-area {
  position:relative;
  margin-bottom: 40px;
  background-color: var(--tertiary-color);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
  width : 70%;
  border-radius: 10px;
  padding: 20px;
  caret-color: blue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  resize: vertical;
  /* overflow: scroll; */
}

.text-area:focus {
  outline: none;
  border: 2px solid rgb(83, 138, 255);
}

.submit {
  display: inline-block;
  position: relative;
  align-items:center;
  width: 30%;
  /* height: 30px; */
  padding: 10px;
  max-width:100px;
  background-color: var(--quaternary-color);
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}
.submit:hover{
  background-color: white;
  color: black;
  transition: .3s;
}
::placeholder {
   text-align: center; 
}

/* or, for legacy browsers */

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

/*secondary button styles*/


.show {
  background-color: var(--quaternary-color);
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.show:hover{
  background-color: white;
  color: black;
  transition: .3s;
}

.dropdown {
  background-color: var(--tertiary-color);
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  border-radius: 5px;
}

.clip {
  border-style: hidden;
  border-radius: 10px;
  border-width: 2px;
  background-color: var(--tertiary-color);
  min-height: 5ch;
}


.created{
  background-color: rgb(208, 247, 247);
  padding: 10px;
}

.clips{
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.clip button {
  float: right;

}

/*text related styles*/
#mainHeading{
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
}

h1 {
  font-family: "Cinzel", serif;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-top: 30px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: larger;
}

label {
  font-family: "Montserrat", sans-serif;
}

p {
  position: relative;
  left: 8px;
  width: 97%;
  word-wrap: break-word;
  white-space: pre-wrap;
}




/*  All theme switching related style below */

.theme-switches {
  display: flex;
  justify-content: center;
}

.switch {
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.switch:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

#default {
   background: linear-gradient(
    to right,
    #f3a6af 0%,
    #959bf6 100%
  );
}

#dark {
   background: linear-gradient(
    to right,
    #14172c 0%,
    #c08058 100%
  );
}

#deepblue {
   background: linear-gradient(
    to right,
    #192a56 0%,
    #273c75 100%
  );
}

#mint {
   background: linear-gradient(
    to right,
    #10ac84 0%,
    #1dd1a1 100%
  );
}

#owlpurple {
   background: linear-gradient(
    to right,
    #341f97 0%,
    #5f27cd 100%
  );
}

