:root {
    --primary-color: #14172c;   /*  :root can be use to assign color to varibles */
    --secondary-color: #14172c;
    --tertiary-color: #c08058;
    --quaternary-color: #799de0;
}

body{color:rgb(255 255 255 / 0.87);}

textarea{color:rgb(255 255 255 / 0.97);}
textarea::placeholder{color:#121212;}
