:root {
    --primary-color: #ffc048;   /*  :root can be use to assign color to varibles */
    --secondary-color: #ffa801;
    --tertiary-color: #ffdd59;
    --quaternary-color: rgb(0 0 0);
}

body{color:rgb(255 255 255 / 0.87);}

textarea{color:rgb(255 255 255 / 0.97);}
textarea::placeholder{color:#121212;}
.created{color:black;}
h3{color: #121212;}
