:root {
    --primary-color: #341f97;   /*  :root can be use to assign color to varibles */
    --secondary-color: #5f27cd;
    --tertiary-color: #6c5ce7;
    --quaternary-color: #a29bfe;
}

body{color:rgb(255 255 255 / 0.87);}

textarea{color:rgb(255 255 255 / 0.97);}
textarea::placeholder{color:#121212;}
.created{color:black;}
h3{color: #121212;}
