.clip{
    word-wrap: break-word;
    white-space: pre-wrap;
    margin:10px;
}


h2{
    font-size: 30px;
    text-align: center;
    color:white;
}

.allclips{

}

.oneclip{
    background-color: rgba(169, 215, 255, 0.485);
    border: 0px solid rgb(153, 88, 249);
    border-radius: 8px;
    margin-bottom: 10px;
}

.slctdiv{
    display:inline-block;
    margin: auto;
}

select {
    background-color:#ffffff00;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border-radius: 0px;
  }


.msg{
    background-color: rgb(255, 182, 182);
    color:black;
    width:fit-content;
    margin: auto;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px solid rgb(153, 88, 249);
    border-radius: 8px;
}

.textbox{
    display: block;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: rgb(130, 255, 232);
    border: 2px solid rgb(153, 88, 249);
    border-radius: 8px;
    margin: auto;
    min-width: 150px;
    min-height: 50px;
    height:150px;
    width: 50%;
    margin-bottom: 5px;
}

.submit{
    display: block;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background: linear-gradient(312deg, #0fecb3, #ff45ae);
    border: 2px solid rgb(153, 88, 249);
    border-radius: 8px;
    color:white;
    margin: auto;
}

.body {
    background: linear-gradient(312deg, #0fecb3, #ff45ae);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}